<div class="image-edit row">
    <div class="col-sm-4">
        <img src="{{ url }}" width="100%">
    </div>
    <div class="col-sm-8">
        <label class="control-label" for="title-{{ type }}-{{ n }}">Title</label>
        <div class="">
            <input class="form-control" type="text" id="title-{{ type }}-{{ n }}" name="{{ type }}_Name_{{ n }}" value="{{ img.title }}">
        </div>
        <label class="control-label" for="legend-map-{{ n }}">Legend</label>
        <div class="">
            <input class="form-control" type="text" id="legend-map-{{ n }}" name="{{ type }}_Legend_{{ n}}" value="{{ img.legend }}">
        </div>
        <button class="btn btn-danger">Remove</button>
    </div>
</div>